<div class="wrap-video">
  <%= render "devise/shared/top_page" %>

  	<% if user_signed_in? %>
  	<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-success" %>
  	<% else %>
  	<%= link_to "新規登録",new_user_registration_path ,class: "btn btn-warning" %>
  	<%= link_to "ログイン",new_user_session_path ,class: "btn btn-success" %><br><br>
    <%= link_to "ゲストユーザーとしてログイン（閲覧用）", top_guest_sign_in_path, method: :post, class: "btn btn-success" %>
  	<% end %>
  </div>
</div>