<!DOCTYPE html>
<html>
  <head>
    <title>StadyingInCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse" style="background:#FBA926;">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>
            <%= link_to root_path do %>
            <%= image_tag "header.png" %>
            <% end %>
          </span>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right" >
            <!-- if文でサインイン前と後のヘッダーを変更 -->
            <% if user_signed_in? %>
            <li><%= link_to 'ホーム', cafes_path, class: "glyphicon glyphicon-home home" %></li>
            <li><%= link_to 'About', top_about_path, class: 'glyphicon glyphicon-link about' %></li>
            <li><%= link_to 'マイページ', user_path(current_user.id), class: "glyphicon glyphicon-user user"  %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>

            <% else %>
            <li><%= link_to 'About', top_about_path, class: 'glyphicon glyphicon-link about' %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
            <li><%= link_to 'ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <br>
    <%= yield %>
  </body>
</html>
